name: Deploy_symfony_react
on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploying

    env:
      SSHPASS: ${{ secrets.APP_PASS }}

    steps:
      - uses: actions/checkout@v3

      - name: APT UPDATE and INSTALL SSHPASS
        run: sudo apt update && sudo apt install sshpass

      - name: Deploy to Infomaniaks
        run:
          sshpass -e ssh -o stricthostkeychecking=no ${{ secrets.APP_USER }}@${{ secrets.APP_HOST }}
          "cd /home/clients/a683ce3e7f173dc4178c580ea6b4e7c3/sites/BNIDOC.studio60.ch &&
          git stash && git pull -f &&
          composer config --no-plugins allow-plugins.symfony/flex true &&
          composer install --ignore-platform-reqs --prefer-dist --no-ansi --no-interaction --no-progress --no-scripts &&
          php bin/console doctrine:migrations:migrate &&
          php bin/console d:m:m -n"
